@font-face {
  font-family: Gilroy;
  src: url(./Fonts/Gilroy-Medium.ttf);
}

@font-face {
  font-family: against;
  src: url(./Fonts/against\ regular.ttf);
}

@font-face {
  font-family: Emotions;
  src: url(./Fonts/Emotions-Condensed-Demo-BF64d2094a30add.ttf);
}

@font-face {
  font-family: Felicidade;
  src: url(./Fonts/FelicidadeDEMO.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Gilroy;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  background-color: #03001C;
  margin: 0;
  padding: 0;
  cursor: none;
  overflow-x: hidden;
  color: #CBE4DE;
}

a {
  text-decoration: none;
}

/*=============== Cursor ===============*/
.cursor {
  pointer-events: none;
  position: fixed;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.3s ease;
  z-index: 9999;
  mix-blend-mode: difference;
}

/* .hover-this:hover~.cursor,
.spacer:hover~.cursor {
  Add this line to target the cursor for the entire page 
  transform: translate(-50%, -50%) scale(8);
} 
*/


/*=============== SCROLL BAR ===============*/
body::-webkit-scrollbar {
  z-index: 11;
  cursor: default;
}

::-webkit-scrollbar {
  width: .6rem;
  background-color: hsl(0, 0%, 46%);
  cursor: default;
}

::-webkit-scrollbar-thumb {
  border-radius: .5rem;
  background-color: #B6EADA;
  cursor: default;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #CBE4DE;
  cursor: default;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #CBE4DE;
  color: #03001C;
  pointer-events: none;
  cursor: none;
  z-index: 3;
}

.counter {
  position: fixed;
  left: 50px;
  bottom: 50px;
  display: flex;
  height: 100px;
  font-size: 100px;
  line-height: 102px;
  clip-path: polygon(0 0, 100% 0, 100% 100px, 0 100px);
  font-weight: 400;
}

.counter-1,
.counter-2,
.counter-3 {
  position: relative;
  top: -15px;
}

.num1offset1 {
  position: relative;
  right: -25px;
}

.num1offset2 {
  position: relative;
  right: -10px;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 50px;
  transform: translate(-50%, -50%);
  display: flex;
  background: #474E68;
}

.loader-1 {
  position: relative;
  background: #03001C;
  /* width: 200px; */
  width: 200px;

}

.loader-2 {
  position: relative;
  background: #03001C;
  width: 400px;
  /* width: 200px; */

}

.loader-3 {
  position: relative;
  background: #03001C;
  width: 200px;
}

.bar {
  height: 50px;
}

.website-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0 20px;
  padding-top: 9vh;

}

.header {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4em;


}

.h1 {
  display: flex;
}

h1 {
  font-size: 80px;

}

.header .h1 h1 {
  text-align: center;
  position: relative;
  top: 80px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: against;

}

.header .h1 h3 {
  text-align: center;
  position: relative;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 3vh;
}


.header .h1 h1 span {
  font-family: against;
  color: blue;
  font-weight: 800;
  background: linear-gradient(to right,
      #0f4fc6 20%,
      #00affa 30%,
      #0190cd 70%,
      #2971d0 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

.pattern-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  /* height: 700px; */
  opacity: 25%;
  /* max-height: 110vh; */
}

/* .header-revealer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
} */

/* .header-revealer:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 105%;
  height: 110%;
  background: #fff;
  top: 80px;
} */

.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

/* -----------Hover Button-------- */
.button-container {
  position: relative;
  width: auto;
  height: 8vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12vh;
  overflow: hidden;
  transition: 0.5s;
  border: 1px solid #ffffff;
  transition: .4s;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  

}

.button-container button {
  width: 100%;
  min-width: 9em;
  height: 100%;
  font-family: "Monument Extended", sans-serif;
  font-size: 1.6em;
  background: #fff;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  border: none;
  color: #000;
  cursor: pointer;
  animation: anim2 0.7s steps(22) forwards;
  padding: 1em;
}

.button-container button:hover {
  animation: anim1 0.7s steps(22) forwards;
}

.mask {
  position: absolute;
  color: #fff;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 101%;
  font-family: "Monument Extended", sans-serif;
  font-weight: lighter;
  font-size: 1.6em;
  /* margin-top: .5em; */
  overflow: hidden;
}

@keyframes anim1 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes anim2 {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}



/* ----Navbar------ */
nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 2em;
  z-index: 9;
  color: #CBE4DE;
  display: none;
  mix-blend-mode: difference;
  backdrop-filter: blur(10px);
}

nav>div {
  flex: 1;
}

.logo {
  text-align: center;
}

.logo img {
  width: 2.6em;
}

.toggle-btn {
  display: flex;
  justify-content: flex-end;
}

.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.75em 2em 1.5em 2em;
  background: rgba(255, 255, 255, 0);
  outline: none;
  border: none;
  width: 28px;
  height: 20px;
  transition: all 250ms ease-out;
  cursor: pointer;
}

.burger::before,
.burger::after {
  content: "";
  width: 40px;
  height: 2px;
  position: absolute;
  background: #CBE4DE;
  transition: all 250ms ease-out;
  will-change: tranform;
}

.burger::before {
  transform: translateY(-3px);
}

.burger::after {
  transform: translateY(3px);
}

.active.burger::before {
  transform: translateY(0) rotate(45deg);
}

.active.burger::after {
  transform: translateY(0) rotate(-45deg);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  /* initially hidden */
  /* background: #2E4F4F; */
  background-image: linear-gradient(to right top, #090024, #0d1133, #121a43, #172454, #1a2f66, #182f69, #16306b, #13306e, #0d2662, #061c56, #01124a, #00053e);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  will-change: transform;

}

.overlay-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-item {
  display: flex;
  cursor: pointer;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.menu-item p {
  position: relative;
  text-align: center;
  font-size: 15vw;
  line-height: 80%;
  will-change: tranfrom;
  transition: letter-spacing 0.3s;
  text-transform: uppercase;
  color: #CBE4DE;


}

.menu-item p a {
  position: relative;
  text-align: center;
  font-size: 7vw;
  line-height: 80%;
  will-change: tranfrom;
  transition: letter-spacing 0.3s;
  color: #CBE4DE;
  font-family: against;
}

.menu-item p:hover {
  letter-spacing: 0.004em;
}

.menu-item p#active::after {
  content: "";
  position: absolute;
  top: 45%;
  left: 0;
  transform: translateY(-50%);
  background: #000000;
  width: 0%;
  height: 12px;
}

.sub-nav {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.5em;
  opacity: 0;
}

.sub-nav p {
  font-family: "Canopee";
  font-size: 20px;
  color: #5e5e5e;
}

@media(max-width:900px) {
  /* .logo a{

  } */
}

/* ----------------Project-Section--------------- */
.heading{
  text-align: center;
  align-items: center;
  top: 80px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: against;
  font-size: 80px;
}
.spacer {

  display: flex;
  justify-content: center;

}
.spacer img{
  height: 21vh;
  filter: invert(100%);
  width: auto;
text-align: center;
}

.projects-section {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  padding-right: 50px;
}

.projects-section>* {
  width: 100%;
}

.work__Left {
  position: relative;
  width: 45%;
  z-index: 2;
}

.work__text {
  margin: auto;
  width: 80%;
}

.work__info {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.work__num {
  display: block;
  line-height: .9;
  text-align: right;
  font-size: 18px;
  transform: skewX(-20deg);
  color: red;
}

.title {
  text-align: right;
  font-size: 70px;
  text-transform: uppercase;
  color: #CBE4DE;
}

.title .stroke {
  display: block;
  color: transparent;
  -webkit-text-stroke: 1px #CBE4DE;
}

.work__link {
  display: block;
  width: 365px;
  margin-top: 50px;
  margin-left: auto;
  padding: 18px 0;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #CBE4DE;
  letter-spacing: 4px;
  border: 2px solid #fff;
  font-weight: 600;
  transition: .4s;

}

.work__link:hover {
  background: #fff;
  color: #000;

}

.work__right {
  width: 100%;
  height: auto;
}

.work__right-bl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  width: 100%;
  height: 100vh;
  top: 0;
}

.work__photo {
  width: 100%;
  height: 70%;
  padding: 3em 0;
  position: relative;

}


.work__photo-item {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 3px;
  overflow: hidden;
  border-radius: 10px;


}

.work__photo-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ----------------About section------------------- */
.about-section {
  display: flex;
  align-items: center;
  padding: 40px 180px;
  justify-content: space-between; /* Aligns divs at the ends of the flex container */
}

.left-about {
  width: 70%; /* 70% width of the parent container */
 padding-left: 40px;
  /* background-color: #f0f0f0; */
}
.left-about h2 {
 color: #b6c7ea;
 font-weight: 400;
 font-family: roboto;
}

.left-about p span{
  color: #00affa;
}
.left-about p {
  font-size: 1.22em;
  text-align: justify;
}

.right-about {
  width: 30%; /* 30% width of the parent container */
  padding: 20px;
  /* background-color: #e0e0e0; */
}

img {
  max-width: 100%;
  height: auto;
}



/* Responsive styles */
@media only screen and (max-width: 768px) {
  .left-about, .right-about {
    flex: 100%;
  }
}



/* ---------------Skills-section----------------- */

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
.skills-section{
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
  position: relative;
  background: #03001C;
}


.skills-section:before,
.skills-section:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.skills-section:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #000317);
}

.skills-section:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #000317);
}

/* .logos:hover .logos-slide {
  animation-play-state: paused;
} */

.logos-slide {
  display: inline-flex;
  animation: 30s slide infinite linear;
}

.logos-slide .item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5em;
  text-align: center;
  min-width: 250px;
}

.logos-slide .item .marquee__text {
  font-size: 25px;
}

.logos-slide img {
  height: 100px;
  width:auto;
  margin: 0.5em auto;
}

.marquee__text {
  display: inline-block;
  position: relative;
  margin-top: .3em;
  text-transform: uppercase;
  color: #0a93c5;
  font-size: 20px;
  width: 100px;
}



.item .star {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  right: 0;
  margin: 0;
  animation: rotate 8s linear infinite;
}

@keyframes rotate {
  from {
    transform: translateY(-50%) rotate(0);
  }

  to {
    transform: translateY(-50%) rotate(360deg);
  }
}


/* ---------Footer-section------------- */
.footer-section{
  background-color: #000317;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-section h3{
  color: gray;
  font-weight: 200;
  font-size: 14px;
}
